@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
    background: linear-gradient(180deg, rgba(39,24,91,1) 5%, rgba(38,35,125,1) 48%, rgba(0,1,66,1) 95%);
    color: white;
}

// Boton reutilizable en las diferentes secciones 
.btnMas {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    width: 220px;
    height: 60px;
    border-radius: 60px;
}

// Imports
@import "./componentes/extends";

@import "./componentes/header";
@import "./componentes/mainContent";
@import "./componentes/partners";
@import "./componentes/trendings";
@import "./componentes/collections";
@import "./componentes/categories";
@import "./componentes/instructions";
@import "./componentes/articles";
@import "./componentes/footer";