.articles {
    @extend %columnBox;
    margin: $margenDiseño;

    .titleArt {
        margin-bottom: 2.5rem;
        @extend %titleGradient;
    }

    .flexArt {
        display: flex;
        width: 100%;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 5rem;

        .boxArt {
            @extend %effectTransparent;
            border-radius: 20px;

            .subTitle {
                font-size: 22px;
                font-weight: 600;
                max-width: fit-content;
                margin: 1rem;
                line-height: 1.5;
                opacity: 1;
            }

            p {
                font-size: 13px;
                font-weight: 500;
                opacity: 0.7;
            }
        }
    }
}