.categories {
    margin: $margenDiseño;
    @extend %columnBox;

    .titleCat {
        margin-bottom: 2.5rem;
        @extend %titleGradient;
    }

    .flexCat {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 5rem;

        .boxCat {
            @extend %columnBox;
            padding: 1rem 1rem 0 1rem;
            border-radius: 1rem;
            @extend %effectTransparent;
            
            .boxImg {
                display: flex;
                column-gap: .5rem;
                margin-bottom: 1rem;

                div {
                    display: flex;
                    flex-direction: column;
                    row-gap: .5rem;
                }

            }
        }

        p {
            @extend %fontP;
        }
    }
}