.collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12rem;

    .titleCol {
        margin-bottom: 2.5rem;
        font-size: 55px;
        font-family: 'Clash Display', sans-serif;
        font-weight: 600;
        background-image: linear-gradient(90deg, #69EACB 0%, #EACCF8 48%, #6654F1 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .btnsCol {
        margin-bottom: 3rem;

        button {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 24px;
            margin-right: 1rem;
            border-radius: 60px;
        }
    }

    .cardsCol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 0 5rem 5rem 5rem;

        .card {
            background: linear-gradient(155.14deg, rgba(255, 255, 255, 0) -2.13%, rgba(255, 255, 255, 0.15) 136.58%);
            border: 1.6px solid #ffffff2f;
            backdrop-filter: blur(5px);
            align-items: center;
            width: 324px;
            height: 472px;
            border-radius: 1rem;

            .card-img-top {
                padding: 1rem;
            }
        }
    }
}