.collections {
    @extend %columnBox;
    margin-bottom: 12rem;

    .titleCol {
        margin-bottom: 2.5rem;
        @extend %titleGradient;
    }

    .btnsCol {
        margin-bottom: 3rem;

        button {
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 24px;
            margin-right: 1rem;
            border-radius: 60px;
        }
    }

    .cardsCol {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
        margin: 0 5rem 5rem 5rem;

        .card {
            @extend %effectTransparent;
            align-items: center;
            width: 324px;
            height: 472px;
            border-radius: 1rem;

            .card-img-top {
                padding: 1rem;
            }
        }
    }
}