.instructions {
    @extend %columnBox;
    margin: $margenDiseño;
    padding: 1.5rem;
    border-radius: 40px;
    @extend %effectTransparent;

    .titleIns {
        margin-bottom: 2.5rem;
        @extend %titleGradient;
    }

    .flexIns {
        display: flex;

        .boxIns {
            @extend %columnBox;
            text-align: center;

            .titleBox {
                font-family: 'Poppins', sans-serif;
                font-size: 28px;
                font-weight: 600;
            }

            p {
                @extend %fontP;
                max-width: 90%;
            }
        }
    }

}