.mainContent {
    margin: $margenDiseño;
    display: flex;
    justify-content: space-between;
    

    .infoMain {
        max-width: 600px;
        .titleInfo {
            font-family: 'Clash Display', sans-serif;
            margin-bottom: 3rem;

            h1 {
                font-size: 87px;
                font-weight: 500;
                line-height: 78.5px;
            }

            .gradient {
                font-size: 87px;
                font-weight: 600;
                line-height: 78.5px;
                @extend %titleGradient;
            }
        }

        .subInfo {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 3rem;
        }

        .btnsInfo {
            margin-bottom: 3rem;

            .btn {
                padding: 15px 55px;
                border-radius: 60px;
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                font-weight: 600;
                margin-right: 1rem;
            }
        }

        .statsInfo {
            display: flex;

            div {
                margin-right: 2.3rem;

                .number {
                    font-family: 'Clash Display', sans-serif;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 44px;
                }

                .name {
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                }
            }

        }
    }

    .mainNft {
        font-family: 'Clash Display', sans-serif;
        position: relative;

        .floating {
            @extend %floatingDiv;
        }

        .pStrong {
            font-weight: 600;
            font-size: 26px;
        }

        .imgBack {
            top: 12%;
            left: 22%;
            width: 474px;
            height: 600px;
            z-index: -1;

        }

        .imgBack2 {
            top: -3.5%;
            left: 6%;
            width: 474px;
            height: 336px;
            z-index: -1;
        }

        .infoFrontBL {
            top: 72%;
            left: -5%;
            width: 344px;
            height: 106px;
            backdrop-filter: blur(5px);

            .divStrong {
                display: flex;
                justify-content: space-between;
                margin: 1rem 1rem 0 1rem;
            }

            .info {
                display: flex;
                justify-content: space-between;
                margin: 0 1rem;
            }
        }

        .infoFrontTR {
            top: 0%;
            left: 72%;
            width: 200px;
            height: 74px;
            backdrop-filter: blur(8px);
            text-align: center;
        }

        .infoFrontBR {
            top: 92%;
            left: 40%;
            width: 347px;
            height: 100px;
            backdrop-filter: blur(5px);
            text-align: center;
            word-spacing: 1.6rem;
        }

        .infoFrontMR {
            display: flex;
            align-items: center;
            top: 55%;
            left: 48%;
            width: 347px;
            height: 100px;
            backdrop-filter: blur(8px);

            .pInfo {
                font-size: 14px;
                font-weight: 500;
            }
        }
    }
}