@import url('http://fonts.cdnfonts.com/css/clash-display');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


.mainContent {
    margin: 3rem 0 10rem 0;
    display: flex;
    justify-content: center;
    column-gap: 10rem;

    .infoMain {
        .titleInfo {
            margin: 0 4rem 2rem 0;
            font-family: 'Clash Display', sans-serif;

            p {
                font-size: 87px;
                font-weight: 500;
                line-height: 78.5px;
            }

            .gradient {
                font-size: 87px;
                font-weight: 600;
                line-height: 78.5px;
                @extend %titleGradient;
            }
        }

        .subInfo {
            font-family: 'Poppins', sans-serif;
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 3rem;
        }

        .btnsInfo {
            margin-bottom: 3rem;

            .btn {
                padding: 15px 55px;
                border-radius: 60px;
                font-family: 'Poppins', sans-serif;
                font-size: 24px;
                font-weight: 600;
                margin-right: 1rem;
            }
        }

        .statsInfo {
            display: flex;

            div {
                margin-right: 2.3rem;

                .number {
                    font-family: 'Clash Display', sans-serif;
                    font-weight: 600;
                    font-size: 36px;
                    line-height: 44px;
                }

                .name {
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                }
            }

        }
    }

    .mainNft {
        .effect {
            @extend %divTransparent;
            margin-left: 9rem;
            top: 280px;
            width: 474px;
            height: 600px;
            z-index: -1;

        }

        .effect2 {
            @extend %divTransparent;
            margin-left: 3rem;
            top: 180px;
            width: 474px;
            height: 336px;                           
            z-index: -1;
        }

        .effect3 {
            @extend %divTransparent;
            top: 700px;
            left: 1000px;
            width: 344px;
            height: 106px;
            backdrop-filter: blur(5px);
        }

        .effect4 {
            @extend %divTransparent;
            top: 190px;
            left: 1520px;
            width: 200px;
            height: 74px;
            backdrop-filter: blur(5px);
        }

        .effect5 {
            @extend %divTransparent;
            top: 825px;
            left: 1290px;
            width: 347px;
            height: 100px;
            backdrop-filter: blur(5px);
        }
    }
}