.trendings {
    @extend %columnBox;
    margin-bottom: 12rem;

    .titleCards {
        margin-bottom: 2.5rem;
        @extend %titleGradient;
    }

    .cardsList {
        display: flex;
        column-gap: 2rem;
        justify-content: center;
        margin-bottom: 5rem;

        .card {
            @extend %effectTransparent;
            align-items: center;
            width: 440px;
            height: 600px;
            border-radius: 1rem;

            .card-img-top {
                padding: 1rem;
            }
        }
    }
}